*{
	padding: 0
	margin: 0;
  background-color: black;
}

body {
  margin: 0 auto;
}
.images {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100vw;
}

button {
  background: transparent;
  border: none;
  outline: none;
  font-size: 4vh;

}

.images > div {
  padding: 0;
  margin: 0;
}

.i1 {
	background-image: url(../../assets/images/as.jpg);
  background-position: center;
  height: 33%;
  width: 33%;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
}

.i2 {
  background-image: url(../../assets/images/bm.jpg);
  background-position: center;
  height: 33%;
  width: 33%;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
}

.i3 {
  background-image: url(../../assets/images/em.jpg);
  background-position: center;
  height: 33%;
  width: 33%;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
}

.i4 {
  background-image: url(../../assets/images/moj.jpg);
  background-position: center;
  height: 33%;
  width: 33%;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
}

.i5 {
  height: 33%;
  width: 33%;
  display: flex;
  font-family: 'Hammersmith One', sans-serif;
  font-size: 2vh;
  justify-content: center;
  align-items: center;
}

.i6 {
  background-image: url(../../assets/images/pm.jpg);
  background-position: center;
  height: 33%;
  width: 33%;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
}

.i7 {
  background-image: url(../../assets/images/black.jpg);
  background-position: center;
  height: 33%;
  width: 33%;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
}

.i8 {
  background-image: url(../../assets/images/pink.jpg);
  background-position: center;
  height: 33%;
  width: 33%;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
}

.i9 {
  background-image: url(../../assets/images/neg.jpg);
  background-position: center;
  height: 33%;
  width: 33%;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
}

a:active {
  text-decoration: none;
  color: white;
}