*{
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}

li > a:link {
  text-decoration: none;
  color: #f2d6cd;
}

li > a:visited {
  text-decoration: none;
  color: #f2d6cd;
}

li > a:hover {
  text-decoration: none;
  color: #f2d6cd;
}

li > a:active {
  text-decoration: none;
  color: #f2d6cd;
}

nav {
	background-color: rgb(13, 41, 51);
	display: flex;
/*	justify-content: center;*/
	align-items: center;
	opacity: 90%;
	position: sticky;
	top:0;
	height: 9vh;
	font-family: 'Hammersmith One', sans-serif;
	z-index: 5;

}

nav > ul > li > img {
	/*float: right;*/
}

.list > li > img {
	height: 5vh;
	float: right;

}

nav > ul {
	display: flex;
	list-style-type: none;
	color: #f2d6cd;
	padding-left: 50px;
}

nav > ul > li {
	margin: 0 20px;
	position: top;
	color: white;
	text-decoration: none;
	font-size: 2.5vh;
}

.main {
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px;
}

.filler {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px;
}

.main > img {
	width: 100%; 
	height: 100vh;
}

.main2 > p {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

.main2 {
	padding: 100px;
}

.logo > img {
	width: 28vh; 
	height: 50vh;
}

.filler > img {
	width: 80%; 
	height: 100vh;
	padding: 20px;

}

.trans {
	width: 100%; 
	height: 93vh; 
	overflow:hidden; 
	position:relative; 
}

.trans > img{ 
	position:absolute; 
	animation:trans 20s infinite; 
	opacity:0; 
	width: 100%; 
	height: 100vh;
}

@keyframes trans {
	25% {
		opacity:1;
		} 
	40%{
		opacity:0;
		}
}

.trans > img:nth-child(5){animation-delay:15s;}
.trans > img:nth-child(4){animation-delay:0s;}
.trans > img:nth-child(3){animation-delay:5s;}
.trans > img:nth-child(2){animation-delay:10s;}
.trans > img:nth-child(1){animation-delay:15s;}

.about > h1 {
	align-items: center;
	text-align: center;
	font-family: 'Hammersmith One', sans-serif;
}

#hr {
	style: width: 50%;
	background-color: #0d2932; 
	height: 4px; 
	border: 0;
	margin-left: 30%;
	margin-right: 30%;
}
#hrabout {
	background-color: #0d2932; 
	height: 4px; 
	border: 0;
	margin-left: 30%;
	margin-right: 30%;
}

/*p*/

.p1 {
	font-family: 'Hammersmith One', sans-serif;
	font-size: 50px;
}

.p1 > hr {
	height: 5px;

}

.p2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
}

/*SECTION*/

.section1 {
	height: 90vh;
}

.heading > h1 {
	display: flex;
	justify-content: center;
}

.heading-image {
	display: flex;
	justify-content: center;
	background-color: #fef9f6; 
}

.heading-image > img {
	width: 60vw;
	height: 80vh;
}

#nobackground {
	background-color: none;
}

.bold {
	font-weight: bold;
}

.heading {
	font-family: 'Open Sans', sans-serif;
}


/*BODY*/

.container {
	display: flex;
	height: 100vh;
}

.left {
	height: 100vh;
	width: 70vw;
	display: flex;
	justify-content: center;
	align-items: center;

}

.left > img {
	width: 100%;
	margin-left: 50px;
	height: 70%;	
}

.right {
	text-align: center;
	height: 100vh;
	width: 30vw;
	display: flex;
	justify-content: center;
	align-items: center;
	text-orientation: left;
	padding: 0 60px;
}

.lalagyan {
	display: flex;
	height: 100vh;
}

.kaliwa {
	height: 100vh;
	width: 30vw;
	display: flex;
	text-align: center;
	padding: 0 60px;
	align-items: center;
}

.kanan > img {
	width: 100%;
	display: flex;
	height: 70%;
}

.kanan {
	height: 100vh;
	width: 70vw;
	display: flex;
	padding-right: 60px;
	align-items: center;
}

.story1 {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.top > p {
	width: 70%;
	margin-left: 220px;
}

.top {
	height: 30vh;
	display: flex;
	align-items: center;
	text-align: center;
	padding-bottom: 30px;
}

.bot {
	height: 60vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.bot > img {
	width: 90%;
	padding-top: 250px;
	padding-bottom: 200px;
}

.cocktails > h1 {
	align-items: center;
	text-align: center;
	color: #0d2932;
	font-family: 'Hammersmith One', sans-serif
}

.cocktails {
	padding-top: 75px;
	height: 10vh;
}

.bad {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	height: 100vh;
	background-color: #0d2932;
}

.slides {
    padding: 0;
    width: 1200px;
    height: 500px;
    display: block;
    margin: 0 auto;
    position: relative;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
    top: 0;
    opacity: 0;
    width: 1200px;
    height: 500x;
    display: block;
    position: absolute;

    transform: scale(0);

    transition: all .7s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
}

.van label {
    width: 200px;
    height: 100%;
    display: none;
    position: absolute;

      opacity: 0;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 156pt;
    text-align: center;
    line-height: 380px;
    font-family: "Hammersmith One", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .van label { opacity: 0.5; }

.van label:hover { opacity: 1; }

.van .next { right: 0; }

input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .van label { display: block; }

.van-dots {
    width: 100%;
    bottom: 9px;
    height: 11px;
    display: block;
    position: absolute;
    text-align: center;
}

.van-dots  .van-dot {
    top: -5px;
    width: 11px;
    height: 11px;
    margin: 0 4px;
    position: relative;
    border-radius: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.6);
}

.van-dots .van-dot:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .van-dots label#img-dot-1,
input#img-2:checked ~ .van-dots label#img-dot-2,
input#img-3:checked ~ .van-dots label#img-dot-3,
input#img-4:checked ~ .van-dots label#img-dot-4,
input#img-5:checked ~ .van-dots label#img-dot-5,
input#img-6:checked ~ .van-dots label#img-dot-6 {
    background: rgba(0, 0, 0, 0.8);
}